.system-box {width:600px;height:600px;margin:100px auto 0px auto;padding:10px;}

	/* --- */

* {outline:none;}
* {font-size:1em;}
* {border:none;margin:0px;padding:0px;outline:none;}

div {width:auto;height:auto;overflow:hidden;}

.l, .fl {float:left;} .r, .fr {float:right;} .clear {display:block;width:0px;height:0px;overflow:hidden;clear:both;}

.fr.icon {margin-left:5px;margin-top:2px;}

.block { margin: 5px; }

.next-block { margin-top: 5px; }

.line { height: 34px; line-height: 34px; }

.hide {display:none;}
.show {display:block;}

.mCSB_container {margin-right:2px;}
.mCustomScrollBox>.mCSB_scrollTools {width:2px;}

	/* --- */

#oclient {
	display:none;
	border:1px solid #d4e5dc;
	margin:0px auto 0px auto;
	border-radius:4px;
}

.cfl {float:left;border-right:1px solid #d4e5dc;}
.cfr {/*---*/}

.head {padding:5px;border-bottom:1px solid #d4e5dc;}

.head .l {margin-right:10px;}
.head .l img {border-radius:4px; height: 70px; width: 70px;}

.caption {height:34px;margin-top:2px;} .caption:first-child {margin-top:0px;}
.caption .fr {margin-top:2px;}
.caption .text {font-size:0.8em;height:34px;line-height:35px;}

.caption .text .icon {width:12px;height:12px;overflow:hidden;display:block;float:left;border-radius:8px;margin-right:10px;margin-top:11px;}
.caption .text .icon-busy {background-color:Red;}
.caption .text .icon-available {background-color:#009900;}

.btn.connect { color: red; }

.search {padding:5px;border-bottom:1px solid #d4e5dc;}

.contacts {/**/}

.contacts button {
	display:block;
	width:100%;height:34px;line-height:35px;
	border-top:1px solid #d4e5dc;
	font-size:0.8em;
	cursor:hand;
	cursor:pointer;
	text-decoration:none;
	text-align: left;
	background: white;
	color:rgb(66, 139, 202);
} .contacts button:first-child {border-top:none;}

.contacts button:hover, .contacts button.active {background-color:#eef5fd;}
.contacts button .l {width:24px;height:24px;margin:5px;margin-right:10px;background-size:24px 24px;border-radius:10px;}
.contacts button .r {width:12px;height:12px;margin:9px;margin-left:10px;}
.contacts button span {display:block;height:34px;line-height:35px;}

.red {color:Red;}

.tab {display:none;}

.profile ul {font-size:0.8em;margin-bottom:0px;}
.profile ul {padding:5px;}
.profile ul span {font-weight:bold;}

.profile .buttons {margin:5px;}

.profile .buttons button:fast-child {margin-top:5px;}

.dynamic-picture {height: 255px; margin:5px;}
.dynamic-picture video {width:100%;}

.dynamic-picture video.opponent {height:198px;}

.dynamic-picture video {max-width:100%;border-radius:4px;}
.dynamic-picture-plus {margin-bottom:-45px;}
.dynamic-picture-plus .me {
	float:right;
	position:relative;
	top:-62px;
	left:-5px;
	border:1px solid Silver;
	border-radius:4px;
	width: 70px;
	height: 52px;
	display: table-cell;
	vertical-align: middle;
}

.timer {text-align:center;font-size:1.4em;font-weight:bold;margin:5px;}

.item {margin:5px;height:24px;}
.item .l:first-child {width:24px;height:24px;background-size:24px 24px;}
.item .mymic { cursor: pointer; background-image:url(../images/icon-settings-mic.jpg);}
.item .mymic.muted {background-image:url(../images/icon-settings-mic-muted.jpg);}
.item .othvol {background-image:url(../images/icon-settings-volume.jpg);}
.item .value {width:30px;height:24px;line-height:25px;font-size:0.75em;}
.item .slider {margin-top:6px;}

.video-settings {margin:5px;font-size:0.7em;}

.phone {padding:5px;display:block;}
.phone .panel {margin-bottom:5px;}
.phone .btn-group {display:block;float:none;margin:0px auto 0px 2px;text-align:center;}
.phone .btn-group:first-child {margin-top:5px;}
.phone .btn-group:last-child {margin-bottom:5px;}
.btn-groups .btn-group button {border-radius:0px;}
.phone .btn-group button {
	height: 2.3em;
	width: 33.33%;
}
.phone .btn-group button:before {
	font-size: 1.6em;
	position: absolute;
	top: 1%;
	left: 22%;

}
.phone .btn-group button:after {
	font-size: 0.7em;
	position: absolute;
	top: 40%;
	left: 45%;
}
.phone .dial-zero:before { content: "0"; }
.phone .dial-one:before { content: "1"; }
.phone .dial-two:before { content: "2"; }
.phone .dial-three:before { content: "3"; }
.phone .dial-four:before { content: "4"; }
.phone .dial-five:before { content: "5"; }
.phone .dial-six:before { content: "6"; }
.phone .dial-seven:before { content: "7"; }
.phone .dial-eight:before { content: "8"; }
.phone .dial-nine:before { content: "9"; }
.phone .dial-zero:after { content: "+"; }
.phone .dial-one:after { content: "@"; }
.phone .dial-two:after { content: "abc"; }
.phone .dial-three:after { content: "def"; }
.phone .dial-four:after { content: "ghi"; }
.phone .dial-five:after { content: "jkl"; }
.phone .dial-six:after { content: "mno"; }
.phone .dial-seven:after { content: "pqrs"; }
.phone .dial-eight:after { content: "tuv"; }
.phone .dial-nine:after { content: "wxyz"; }

.btn-tab-phone {margin-top:216px;}
.btn-tab-profile {margin-top:190px;}
.btn-tab-cphone {margin-top:55px;}
.incoming-call .foot {margin-top: 364px;}
.cvideo .end-call {margin-top: 29px;}

.cphone .foot {margin-top: 69px;}

.incoming-call .incoming-name {
	text-align: center;
	font-size: 1.4em;
	font-weight: bold;
}

.edit-contact-list .line-item {margin-top:5px;} .edit-contact-list .add-user .line-item:first-child {margin-top:0px;}

/*
.btn-groups .btn-group:first-child button:first-child {border-top-left-radius:14px;}
.btn-groups .btn-group:first-child button:last-child {border-top-right-radius:14px;}
.btn-groups .btn-group:last-child button:first-child {border-bottom-left-radius:14px;}
.btn-groups .btn-group:last-child button:last-child {border-bottom-right-radius:14px;}
*/

/*---*/
